doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    if (description != undefined)
      meta(name="description" content=description)

    meta(name="lang" content="es")
    meta(name="keywords" content="Ministerio de Fomento, Transporte carretera, Ministerios, Administración Estado, Transporte, España, Administración pública, San Sebastián de los Reyes, El Molar, San Agustín de Guadalix, Manuel Niño, Carreteras nacionales, Alcobendas, Provincia Madrid, Carreteras, Comunidad de Madrid, a1, a-1, variante, m15, club de campo, vecinos, asociación, urbanización")
    meta(name="news_keywords" content="vecinos,unidad,asamblea,grupo,amigos,alcalde,san sebastian de los reyes, urbanizaciones, nudo norte, cercanías")

    meta(name="format-detection" content="address=yes;email=yes,telephone:no")

    meta(property="article:section" content="Asociación Vecinos y Amigos Club de Campo")
    meta(property="article:tag" content="A1")
    meta(property="article:tag" content="A-1")
    meta(property="article:tag" content="Ampliación A-1")
    meta(property="article:tag" content="Ampliación A1")
    meta(property="article:tag" content="Variante A-1")
    meta(property="article:tag" content="Variante A1")
    meta(property="article:tag" content="M-15")
    meta(property="article:tag" content="Ministerio de Fomento")
    meta(property="article:tag" content="Transporte carretera")
    meta(property="article:tag" content="Ministerios")
    meta(property="article:tag" content="Administración Estado")
    meta(property="article:tag" content="Transporte")
    meta(property="article:tag" content="España")
    meta(property="article:tag" content="Administración pública")
    meta(property="article:tag" content="San Sebastián de los Reyes")
    meta(property="article:tag" content="El Molar")
    meta(property="article:tag" content="San Agustín de Guadalix")
    meta(property="article:tag" content="Manuel Niño")
    meta(property="article:tag" content="Carreteras nacionales")
    meta(property="article:tag" content="Alcobendas")
    meta(property="article:tag" content="Provincia Madrid")
    meta(property="article:tag" content="Carreteras")
    meta(property="article:tag" content="Comunidad de Madrid")
    meta(property="article:publisher" content="https://fb.me/ava.clubcampo")
    meta(property="article:tag" content="San Sebastian de los Reyes")
    meta(property="article:tag" content="Club de Campo")
    meta(property="article:tag" content="Nudo Norte")
    meta(property="article:tag" content="Vecinos")
    meta(property="article:tag" content="Asociación")
    meta(property="article:published_time" content="2018-02-18")
    meta(property="article:modified_time" content="2018-02-18T10:00:00+02:00")

    meta(property="og:updated_time" content="2018-02-18T10:00:00+02:00")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="es_ES")
    if (title != undefined)
      meta(property="og:title" content=title)
    if (description != undefined)
      meta(property="og:description" content=description)
    meta(property="og:image" content="http://www.avacc.org/images/avacc_header.PNG")
    meta(property="og:image:width" content="492")
    meta(property="og:image:height" content="247")
    meta(property="og:url" content="http://www.avacc.org")
    meta(property="og:site_name" content="AVACC")

    if (title != undefined)
      meta(name="twitter:title" content=title)
    if (description != undefined)
      meta(name="twitter:description" content=description)
    meta(name="twitter:image:alt" content="AVACC")
    meta(name="twitter:image" content="http://www.avacc.org/images/avacc_header.PNG")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@ava_clubcampo")
    meta(name="twitter:creator" content="@ava_clubcampo")

    meta(property="fb:app_id" content="156605108393861")


    block head_meta

    if (title != undefined)
      title= title
    script(async, defer, src="./javascripts/avacc.js")

    if (links_with_integrity != undefined)
      each link_wi in links_with_integrity
        link(rel=link_wi.rel href=link_wi.href integrity=link_wi.integrity crossorigin=link_wi.crossorigin)
        //link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous")
    else
      link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css")

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    link(rel="stylesheet" href="/stylesheets/pure-custom.css")
    link(rel="stylesheet" href="./stylesheets/tooltips.css")
    link(rel="stylesheet" href="./stylesheets/socialmedia.css")
    link(rel="stylesheet" href="./stylesheets/avacc.css")

    block head_link


    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-112735114-1')

    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-112735114-1');
        gtag('config', 'UA-113525204-1');

  block body
